# 0 for debug and 1 for prod deployment
export FLASK_DEBUG=0

export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

export AWS_DEFAULT_REGION=
export S3_BUCKET_NAME=
export S3_PRESIGNED_URL_EXPIRY=3600

export GRAIN_REVIEW_ML_PASSWORD=
export GRAIN_REVIEW_PROGRAMMES_PASSWORD=
export GRAIN_REVIEW_PRODUCT_PASSWORD=
export GRAIN_REVIEW_ADMIN_PASSWORD=

export DATA_DIR='/data/round_3_qc_data'

export PORT=
export HOST=
